body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #0e1a40, #000);
    min-height: 100vh;
    color: #f4f4f4;
}

#list-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}


.row-card {
    width: 100%;
    background: white;
    display: flex; /* Alineamos imagen y texto de lado a lado */
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 5px solid #740001; /* Detalle de color lateral */
}

.row-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Imagen circular */
    object-fit: cover;
    margin-right: 20px;
    background-color: #eee;
}

.info h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.info p {
    margin: 4px 0 0;
    color: #666;
    font-size: 0.9em;
}

#detalle {
    background: rgb(128, 123, 123);;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgb(36, 26, 26);
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#detalle img {
    width: 400px;
    border-radius: 10px;
    margin: 20px 0;
    max-width: 100%;
}

#detalle h2 {
    font-size: 2.5rem;
}

#detalle p {
    font-size: 1.9rem;
}

h1{
    font-size: 4rem;
    font-family: 'Cinzel', serif;
}



/* Tablet */
@media (max-width: 900px) {
    #list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Celular */
@media (max-width: 600px) {
    #list-container {
        grid-template-columns: 1fr;
    }

    .row-card {
        flex-direction: column;
        text-align: center;
    }

    .row-card img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.2rem;
    }
}

button{
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

#filtros {
    margin-bottom: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#filtros button {
    font-family: 'Cinzel', serif;
    padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #222;
    color: #f4f4f4;
}
